#contact{
    width: 100%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 124, 199, 0.78) 0%, #007CC7 100%);
    .heading{
        padding: 3% 0 3% 0;
        @include maintext;
        color:  #F9F4F5;
    }
    .frame{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2% 10% 4% 10%;
        @include respond(tab-port) {
            flex-direction: column;
            padding-top: 0px;
            padding-bottom: 0px;
            img{
                width: 150px;
                height: 150px;
            }
            .texts{
                font-size: 15px;
                padding:  0 9px 0 0;
            }
        }
        @include respond(phone) {
            flex-direction: column;
            padding-top: 0px;
            padding-bottom: 0px;
            img{
                width: 150px;
                height: 150px;
                padding: 1% 0 0 0;
            }
            .texts{
                font-size: 15px;
                padding:  0 12px 0 0;
            }
        }
        @mixin texts(){
            display: flex;
            flex-direction: column;
            text-decoration: none;
            padding:  6px 0 8px 0;
            text-align:center;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 15px;
            color: #F9F4F5;
        }
        
        .mail{
            width: 100px;
            height: 100px;
            img{
                width: 90px;
                height: 90px;
            }
            .texts{
                @include texts();
                padding:  4px 12px 8px 0;
                @include resp();
            }
        }
        .linkedin{
            width: 100px;
            height: 100px;
            img{
                width: 70px;
                height: 70px;
            }
            .texts{
                @include texts();
                padding:  25px 25px 8px 0;
                @include resp();
            }
        }
        .phone{
            width: 100px;
            height: 100px;
            img{
                width: 70px;
                height: 70px;
            }
            .texts{
                @include texts();
                padding:  25px 18px 8px 0;
                @include resp();
            }
        }
    }
}