#contact{
    width: 100%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 124, 199, 0.78) 0%, #007CC7 100%);
    .heading{
        padding: 3% 0 3% 0;
        @include maintext;
        color:  #F9F4F5;
    }
    .frame{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 8% 4% 8%;
        @mixin texts(){
            display: flex;
            flex-direction: column;
            font-family: Roboto;
            text-decoration: none;
            font-weight: normal;
            font-size: 16px;
            color: #F9F4F5;
            padding-top: 1%;
        }
        
        img{
            width: 70px;
        }
        .texts{
            @include texts();
        }
        @include respond(tab-port) {
            
        }
        @include respond(phone) {
            flex-direction: column;
        }
    }
}