#event{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #EFEFEF;
    text-align:center;
    padding-bottom: 4%;
    .slides{
        padding-left: 10%;
        align-items: center;
        height: 780px;
        @include respond(tab-land) {
            height: 600px;            
        }
        @include respond(tab-port) {
            height: 620px;
        }
        @include respond(phone) {
            height: 550px;
        }
        .heading{
            @include maintext;
            padding: 3% 0 1% 0;
            color: black;
            @include respond(tab-land) {
                margin-bottom: 0;
            }
            @include respond(tab-port) {
                margin-right: 5%;
                font-size: 25px;
                line-height: 2;
            }
            @include respond(phone) {
                margin-bottom: 1%;
                font-size: 22px;
                line-height: 2;
            }
        }
        .rows{
            width:90%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 0 1% 4% 0;
            @include respond(tab-port) {
                flex-direction: column-reverse;
                padding-bottom: 1%;
            }
            @include respond(phone) {
                flex-direction: column-reverse;
                padding-bottom: 1%;
            }
            img{
                margin-top: 10%;
                width: 40%;
                border-radius: 15px;
                @include respond(tab-land) {
                    margin-top: 6%;
                }
                @include respond(tab-port) {
                    margin-bottom: 0;
                    margin-top: 3%;
                    width:60%;
                }
                @include respond(phone) {
                    margin-bottom: 0;
                    margin-top: 3%;
                    width:60%;
                }
            }
            ul{
                width:70%;
                @include maintext;
                line-height: 2.5;
                font-size: 25px;
                text-align: justify;
                color: black;
                @include respond(tab-land) {
                    line-height: 2;
                    font-size: 20px;
                }
                @include respond(tab-port) {
                    width:90%;
                    font-size: 15px;
                    line-height: 2;
                }
                @include respond(phone) {
                    width:90%;
                    font-size: 15px;
                    line-height: 2;
                }
            }
            a{
                float: left;
                margin: 5% 0 0 18%;
                width: 200px;
                height: 49.94px;
                background: #FFAD05;
                border-radius: 4px;
                font-weight: bolder;
                font-size: 19px;
                @include respond(tab-port) {
                    float: none;
                    margin: 1% 50% 0 0;
                    width: 130px;
                    height: 39px;
                    font-size: 14px;
                }
                @include respond(phone) {
                    float: none;
                    margin: 2% 50% 0 0;
                    width: 90px;
                    height: 29px;
                    font-size: 9px;
                }
            }
            a:hover {
                background:  #f3c66b;
                border-radius: 7px;
            }
            .qot{
                @include maintext;
                font-size: 35px;
                padding-bottom: 3%;
                @include respond(tab-land) {
                    margin-bottom: 0;
                    font-size: 25px;
                    line-height: 2;
                }
                @include respond(tab-port) {
                    font-size: 20px;
                    padding-bottom: 0;
                    line-height: 2;
                }
                @include respond(phone) {
                    font-size: 20px;
                    padding-bottom: 0;
                    margin-bottom: 0;
                    line-height: 1.5;
                }
            }
        }
    }
}