#header{
    .container-fluid{
        width: 100%;
        padding: 0 0 0 0;
        .navbar-toggler{
            margin-right: 25px;
        }
        #navbarSupportedContent{
            margin-left: 40%;
            justify-content: space-evenly;
            font-family: Roboto;
            font-weight: bolder;
            font-size: 18px;
            line-height: 21px;
            color: #000000;
        }
    }
    #logo{
        position: relative;
        height: 56px;
        padding-left: 3%;
    }
}