#header{
    position: absolute;
    width: 100%;
    height: 107px;
    left: 0px;
    top: 0px;
    #logo{
        position: absolute;
        width: 112px;
        height: 56px;
        left: 1.72%;
        top: 16.76%;
        color: #007CC7;
        .go-{
            left: 1.72%;
            right: 30.96%;
            top: 16.76%;
            bottom: 20.59%;
        }
        .i{
            left: 73.77%;
            right: 20.36%;
            top: 30.7%;
            bottom: 21.43%;
        }
        .T{
            left: 73.07%;
            right: 1.46%;
            top: 17.63%;
            bottom: 21.43%;
        }
    }
}