#landing{
    width: 100%;
    font-weight: 900;
    font-family: $fontfam;
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 124, 199, 0.78) 0%, #007CC7 100%);
    display: flex;
    flex-direction: row;
    @include respond(tab-port) {
        flex-direction: column-reverse;
    }
    @include respond(phone) {
        flex-direction: column-reverse;
    }
    .register{
        display: flex;
        flex-direction: column;
        float: left;
        padding: 5% 0 5% 5%;
        .text{
            position: relative;
            padding: 2% 0 0 8%;
            size: 85%;
            @include respond(big-desktop) {
                width: 90%;
            }
            @include respond(tab-land) {
                width: 70%;
            }
            @include respond(tab-port) {
                width: 90%;
            }
            @include respond(phone) {
                width: 90%;
            }
        }
        a{
            margin: 5% 0 0 7%;
            width: 200px;
            height: 49.94px;
            background: #FFAD05;
            border-radius: 4px;
            font-weight: bolder;
            font-size: 19px;
            @include respond(tab-port) {
                width: 150px;
                height: 39.94px;
                font-size: 15px;
            }
            @include respond(phone) {
                width: 100px;
                height: 29.94px;
                font-size: 9px;
            }
        }
        a:hover {
            background:  #f3c66b;
            border-radius: 7px;
        }
    }
    .mimage{
        padding: 10% 0 3% 10%;
        @include respond(big-desktop) {
            width: 70%;
            height: 70%;
            padding: 10% 0 3% 15%;
        }
        @include respond(tab-land) {
            width: 50%;
            padding: 15% 0 5% 7%;
        }
        @include respond(tab-port) {
            width: 90%;
            padding: 0 0 5% 5%;
        }
        @include respond(phone) {
            width: 90%;
            padding: 0 0 5% 5%;
        }
    }
    
}