#landing{
    width: 100%;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 124, 199, 0.78) 0%, #007CC7 100%);
    .text{
        position: relative;
        padding: 2% 0 0 8%;
        size: 90%;
    }
    .btn{
        float: bottom;
        width: 206px;
        height: 54.94px;
        background: #FFAD05;
        border-radius: 8px;
        .btn{
            padding: auto;
        }
    }
    .mimage{
        position: relative;
        padding: 10% 0 3% 10%;
        @include respond(tab-land) {
            padding: 0 0 5% 10%;
        }
        @include respond(tab-port) {
            padding: 0 0 5% 10%;
        }
        @include respond(phone) {
            padding: 0 0 5% 10%;
        }
    }
    
}