#patner{
    position: absolute;
    width: 100%;
    height: 889px;
    left: 4px;
    top: 2095px;
    .heading{
        position: absolute;
        width: 12.3%;
        height: 56px;
        left: 42.9%;
        top: 72px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 56px;
        color: #007CC7;
    }
    .patner{
        position: absolute;
        top: 376px;
        left:200px;
    }
}