#patner{
    width: 100%;
    .heading{
        padding: 3% 0 3% 0;
        @include maintext;
    }
    .patner{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        top: 376px;
        width: 80%;
        left:10%;
    }
    .column{
        flex: 100%;
    }
    .column img{
        margin: 3% 4% 3% 4%;
        vertical-align: middle;
    }
}