#patner{
    position: absolute;
    width: 100%;
    height: 889px;
    left: 4px;
    top: 2095px;
    .heading{
        position: absolute;
        width: 12.3%;
        height: 56px;
        left: 42.9%;
        top: 72px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 56px;
        color: #007CC7;
    }
    .patner{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position: absolute;
        top: 376px;
        width: 80%;
        left:10%;
    }
    .column{
        flex: 100%;
    }
    .column img{
        margin: 3% 4% 3% 4%;
        vertical-align: middle;
    }
}