#previous{
    display: flex;
    flex-direction: column;
    background-color: #1B1B1E;
    align-items: center;
    justify-content: center;
    width: 100%;
    .heading{
        padding: 2% 0 15% 0;
        @include maintext;
    }
    .itext{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        @include respond(tab-port) {
            flex-direction: column;
            padding-bottom: 5%;
        }
        @include respond(phone) {
            flex-direction: column;
            padding-bottom: 5%;
        }
        .textr{
            width: 40%;
            font-style: normal;
            flex-direction: column;
            color: #F9F4F5;
            font-family:$fontfam;
            .f{
                font-size: 36px;
                font-weight: bolder;
            }
            .s{
                font-weight: normal;
                font-size: 18px;
            }
            .t{
                width: 70%;
                font-weight: normal;
                font-size: 18px;
                line-height: 21px;
            }
            @include respond(tab-port) {
                width: 90%;
                text-align:center;
                .t{
                    width: 100%;
                }
            }
            @include respond(phone) {
                width: 90%;
                text-align:center;
                .t{
                    width: 100%;
                }
            }
        }
        .car{
            @include respond(tab-land) {
                width: 40%;
            }
            @include respond(tab-port) {
                width: 70%;
            }
            @include respond(phone) {
                width: 70%;

            }
            
        }
    }
    .feedback{
        display: flex;
        flex-direction: row;
        padding: 10% 0 5% 0;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;
        color: #F9F4F5;
        @include respond(tab-land) {
            font-size: 19px;
        }
        @include respond(tab-port) {
            flex-direction: column;
            font-size: 17px;
        }
        @include respond(phone) {
            flex-direction: column;
            font-size: 15px;
        }
        p{
            padding-right: 7%;
            padding-left: 5%;
        }
    }
    .interns{
        padding: 4% 0 7% 0;
        #smile{
            width: 60px;
            height: 60px;
            padding-right: 2px;
            @include respond(tab-land) {
                width: 50px;
                height: 50px;
            }
            @include respond(tab-port) {
                width: 40px;
                height: 40px;
            }
            @include respond(phone) {
                width: 30px;
                height: 30px;
            }
        }
        font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 36px;
        line-height: 42px;
        color: #FFAD05;
        @include respond(tab-land) {
            font-size: 19px;
        }
        @include respond(tab-port) {
            flex-direction: column;
            font-size: 17px;
        }
        @include respond(phone) {
            flex-direction: column;
            font-size: 15px;
        }
    }
}