@mixin maintext() {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #007CC7;
}
@mixin resp() {
    @include respond(tab-land) {
        font-size: 16px;
        padding: 15% 0 5% 7%;
    }
    @include respond(tab-port) {
        font-size: 14px;
        padding: 0 0 7% 5%;
    }
    @include respond(phone) {
        font-size: 8px;
        padding: 0 0 7% 5%;
    }
}